$breakpoints: (xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px);

$mainColor: #03f9c8;

.main-bg-color {
    background-color: $mainColor;
}

body {
    overflow-x: hidden;
    margin: 0px !important;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.sayshannon-logo-pt1 {
    color: $mainColor;
}

.sayshannon-logo-pt2 {
    color: black;
}

.m-r {
    margin-right: 16px;
}

.m-l {
    margin-left: 16px;
}

.m-r-lg {
    margin-right: 32px;
}

.m-t {
    margin-top: 16px;
}

.m-t-lg {
    margin-top: 32px;
}

.font-bold {
    font-weight: 800;
}

.secondary-font {
    font-family: 'Source Code Pro', monospace !important;
}

.no-m-b {
    margin-bottom: 0px !important;
}

#first-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-box {
    width: 900px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.say-box {
    border: 2px solid black;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#second-container {
    width: 100%;
    height: 600px;
    background-color: #03f9c8;
    display: flex;
    justify-content: center;
}

.shannon-box {
    border: 2px solid black;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.projects-box {
    display: none;
    margin-top: 20px;
}

#projects-nav:hover>.projects-box {
    display: block !important;
}

.project {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.project:hover {
    background-color: $mainColor;
}

ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    line-height: 29px;
    font-weight: 100;
}

h2 {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    line-height: 26px;
}

h3 {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 15.4px;
}

p {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin: 0px;
}

span {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

a {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

blockquote {
    font-family: Nunito;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

@media (max-width: map-get($breakpoints, md)) {
    .content-box {
        padding: 8px;
    }
}

@media (max-width: map-get($breakpoints, sm)) {

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-bar div {
        justify-content: center;
    }

    #first-container {
        justify-content: center;
    }

    .content-box {
        width: 500px;
        height: 400px;
        padding: 8px;
    }

    p {
        font-size: 16px;
    }

    .subtitle {
        font-size: 28px !important;
        line-height: 25px !important;
    }

    #second-container {
        height: 500px;
    }

    #second-container .content-box {
        margin-top: 45px;
    }

}